<header class="header">
    <div class="header-intro">
        <p class="header-tagline">
            The PREMIER online television network organization of De La Salle
            University - Manila.
        </p>
    </div>

    <figure class="header-logo">
        <img
                class="header-logo-img"
                src="../../../../assets/ARCH__logo.svg"
                alt="ARCH Logo"
        />
    </figure>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li><a href="#" class="header-link" data-name="home">Home</a></li>
            <li><a href="#" class="header-link" data-name="channels">Channels</a></li>
            <li><a href="#" class="header-link" data-name="art">Art</a></li>
            <li><a href="#" class="header-link" data-name="talent">Talent</a></li>
            <li><a href="#" class="header-link" data-name="about">About Us</a></li>
            <li><a href="#" class="header-link" data-name="contact">Contact Us</a></li>
        </ul>
    </nav>
</header>

